<h1>About Me</h1>

<hr>

<p>With over 2 decades of pharmacy experience and full stack web engineering skills, I believe I can help facilitate, communicate and develop software needed by health care today and in the future.</p>

<p>Whether professional or educational, let me create a software solution for you that will think like a health care professional.</p>

