<h6>Would you like to work together?</h6>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>510 North Brown Avenue, Norton, KS 67654</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "6204510135" %></p>

    <h3>Email</h3>

    <p><a href="mailto:toddt67878@yahoo.com?subject=PortfolioContact" "email me">Email me</a> </p>
  <div class="col-md-6">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3063.7682053309995!2d-99.89933288465048!3d39.834614379436886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x879f7588a77d264f%3A0x9146f15fd3df8c6!2s510%20N%20Brown%20Ave%2C%20Norton%2C%20KS%2067654!5e0!3m2!1sen!2sus!4v1568946616436!5m2!1sen!2sus" width="400" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>  


</div>
