<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Software development should not be a secret process, I will produce a quality software project that will think like a health care professional. Would you expect less?</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>